/* @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"); */
/*Body css*/
.centered-text-style {
    text-align: center;
    display:inline-block;
    /* position: absolute;
    top: 150px; */
    line-height: 35px;
    font-size:18pt;
    overflow-x: auto;
    overflow:hidden;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-style:italic;
    color: #333333;
    padding: 1.5em 4em;
    margin: 0 9em;
}
/* .slider-holder
{
    /* position: absolute; */
    /* top: 150px;
    width: 960px;
    height: 426px; */
    /* margin-left: auto;
    margin-right: auto; */
    /* margin-top: 2em; */
    /* margin-top: 0px;
    text-align: center;
    overflow: hidden; */
/* }  */


/* .image-holder
{
    width: 4800px;
    height: 426px;
    clear: both;
    position: relative;

    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
} */

/* qetash */

/* 
==================================================
Slider Styles
================================================== 
*/

/* #slider {
	padding: 50px;
}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
    border: 0px solid #363636;
    
}

.mySlides {
    display: none;
    
} */

.slider {
    /* Images default to Center Center. Maybe try 'center top'? */
    background-position: center center;
    display: block;
    width: 100%;
    height: 500px;
    /* height: 100vh; *//* If you want fullscreen */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    overflow: hidden;
    -moz-transition: transform .4s;
    -o-transition: transform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
} 
.mySlides {
    /* Images default to Center Center. Maybe try 'center top'? */
    background-position: center center;
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    /* height: 100vh; *//* If you want fullscreen */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    overflow: hidden;
    -moz-transition: transform .4s;
    -o-transition: transform .4s;
    -webkit-transition: transform .4s;
    transition: transform .4s;
}

.mySlides{
    position: absolute;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* .text {
	color: #f2f2f2;
	font-size: 2em;
	padding: 8px 12px;
	margin: 0 auto;
	position: absolute;
	bottom: 4px;
	width: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	font-family: "Crafty Girls", cursive;
	letter-spacing: 2px;
} */

/* .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
} */

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Transition Animation */

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
/* qetash */
/* .mySlides{
    display: none;
}

.slider-image
{
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slider-image-1:target ~ .image-holder
{
    left: 0px;
}

#slider-image-2:target ~ .image-holder
{
    left: -960px;
}

#slider-image-3:target ~ .image-holder
{
    left: -1920px;
}
#slider-image-4:target ~ .image-holder
{
    left: -2880px;
}
#slider-image-5:target ~ .image-holder
{
    left: -3840px;
} */

.button-holder
{
    position: relative;
    bottom: 67px;
}

/* .slider-change
{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color:grey;
} */

/* The dots/bullets/indicators */
/* .dot {
cursor: pointer;
height: 10px;
width: 10px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
padding: 0rem 0rem;
}

.active, .dot:hover {
cursor: pointer;
height: 8px;
width: 8px;
margin: 0 2px; */
/* background-color: rgb(255, 255, 255);
border-radius: 50%;
display: inline-block;
border: 2px solid black; */
/* background-color: black; */

/* transition: background-color 0.6s ease; */
/* padding: 0rem 0rem;
} */


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}


/* article{
    position: absolute;
    top: 550px;
    max-width:100%;
    margin: auto;
    width: 100%;
    padding: 0 5em;
} */

/*article{
    margin: 0 9em;
}*/

.services{
     border-bottom: 1px solid #e2e2e2;
     border-top: 1px solid #e2e2e2;
}


.services div{
    display: inline-block;
    /*border: 1px solid;*/
    width: 300px;
    height: 200px;
    /*padding:2%;*/
    margin: 70px 0px 5px 20px;
    position:relative;
    left: 180px; 


}

.services div img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.services div h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: regular;
    color: #505050;
    font-weight: lighter;
}
.services div p {
    clear: both;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#666666;
}

.reddetails{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#E2494C;
    margin-top: 5px;

}

.players{
    border-bottom: 1px solid #e2e2e2;
}

.players figure{
    display: inline-block;
    margin: 70px 0px 35px 19px;
    position: relative;
    left:170px;
}

.players figure figcaption{
    margin-top: 20px;
}


.players figure figcaption p {
     font-family:Georgia, 'Times New Roman', Times, serif;
     margin-top: 5px;
    color:#666666;

}

.players figure figcaption h5 {
     font-family:Georgia, 'Times New Roman', Times, serif;
    color:#666666;

}

.work img{
    display: inline-block;
    
    /* margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 7.5%; */
    margin: 70px 0px 50px 39px;
    position: relative;
    left:150px;
}

.redbox{
    background-color: #E2494C;
    border: none;
    border-radius: 7px;
    color: #E7FFFD;
    text-decoration: none;
    text-align: center;
    padding-top: 0px;
    font-weight: lighter;
    cursor: pointer;
    width: 14%;
    height: 32px;
    margin-left: 4px;
    position: relative;
    top:-10px;
    left:42.7%;
    align-content: center;
    vertical-align: middle;

}