#modes{
    /* border: 1px solid gray; */
    box-sizing: border-box;
    border-radius: 7px;
    height: 30px;
    padding: 3px 6px;
    margin: 0 0 0 77%;
    box-shadow: 2px 1px gray;
}

.place-row p{
	display: inline-block;
	border: 2px solid   #E2E2E2 ;
	border-radius: 3px;
	padding: 5px 10px;
	position: relative;
	left: 13%;
	top: 20px;
    color: #9A9A9A;
}