*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    background-color: #ffffff;
    width:100%;
    /* padding: 0em 5em; */
}

 /* header{
    max-width:100%;
    margin: auto;
    padding: 0em 5em;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
}  */

header .navigation{
    width: 100%;
    height: 150px;
    /* position: fixed;
    z-index: 1; */
    /* border: 1px solid red; */
}

header nav{
    /* background-color: red ; */
    padding: 2em 11em;
    display: flex;
    align-items: center;
    width: 100%;
}

header ul{
    background-color:#E2494B;
    padding: 1rem 1rem;
    margin-left: 200px;
    border-radius:12px;
}
  header ul li {
    display: inline;
    padding: 0 1em;
    position: relative;
}

header .menu-toggle{
    display: none;
}

header a{
    text-decoration: none;
    color:white;
    padding: 0em 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}

header a:hover{
    /* background-color: #F50057; */
    color:#ee9395;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.3s;
}
  .navigation {
    justify-content: center;
    /* display: flex; */
    float:left;
    height: 133px;
    border-bottom: 1px solid #e2e2e2;
    /* margin-bottom: 133px; */
  }

  /* header ul li ul{
    display: none;
    position: absolute;
    /* width: inherit;
    z-index: 1;
  }

 header ul li:hover ul{
      background-color: #E2494B;
      display: block;
  }

  header ul li ul li{
      display: block;
      position: relative;
      color: white;
      margin: 0.5em;
      padding: 3px;
      
  } */

  #dropdown{
      position: relative;
      display: inline-block;
  }

  #dropdown-content{
      display: none;
      position: absolute;
      right: -7px;
      background-color: #E2494B;
      /* min-width: 140px; */
      margin: 0px;
      /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
      z-index: 1;
  }
  #dropdown-content a {
    color: #ffffff;
    padding:  5px 0;
    text-decoration: none;
    display: block;
  }
  #dropdown-content a:hover {color: #c45522de}

  #dropdown:hover #dropdown-content {
    display: block;     
    z-index: 2;
  }


  .header-text {
    display: grid;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .composition-text {
    font-style: regular;
    color: #505050;
    font-size: 30pt;
    text-transform: capitalize;
    font-variant: small-caps;
    margin-bottom: 9px;
  }
  .left-text{
    font-size:12pt;
    color:#666666;
}
.centered-text-style {
    text-align: center;
    display:inline-block;
    /* position: absolute;
    top: 150px; */
    line-height: 35px;
    font-size:18pt;
    overflow-x: auto;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-style:italic;
    color: #333333;
    padding: 1.5em 4em;
    margin: 0 9em;
}
.slider-holder
{
    /* position: absolute; */
    top: 150px;
    width: 960px;
    height: 426px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 2em; */
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-holder
{
    width: 4800px;
    height: 426px;
    clear: both;
    position: relative;

    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slider-image
{
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slider-image-1:target ~ .image-holder
{
    left: 0px;
}

#slider-image-2:target ~ .image-holder
{
    left: -960px;
}

#slider-image-3:target ~ .image-holder
{
    left: -1920px;
}
#slider-image-4:target ~ .image-holder
{
    left: -2880px;
}
#slider-image-5:target ~ .image-holder
{
    left: -3840px;
}

.button-holder
{
    position: relative;
    bottom: 67px;
}

.slider-change
{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color:grey;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 10px;
width: 10px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
padding: 0rem 0rem;
}

.active, .dot:hover {
cursor: pointer;
height: 8px;
width: 8px;
margin: 0 2px;
background-color: rgb(255, 255, 255);
border-radius: 50%;
display: inline-block;
border: 2px solid black;
/* background-color: black; */

/* transition: background-color 0.6s ease; */
padding: 0rem 0rem;
}



/*Body css*/

/* article{
    position: absolute;
    top: 550px;
    max-width:100%;
    margin: auto;
    width: 100%;
    padding: 0 5em;
} */

/*article{
    margin: 0 9em;
}*/

.services div{
    display: inline-block;
    /*border: 1px solid;*/
    width: 300px;
    height: 200px;
    /*padding:2%;*/
    margin: 70px 0px 5px 20px;
    position:relative;
    left: 180px; 
}

.services div img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.services div h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: regular;
    color: #505050;
    font-weight: lighter;
}
.services div p {
    clear: both;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#666666;
}

.reddetails{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#E2494C;
    margin-top: 5px;
}

.players figure{
    display: inline-block;
    margin: 70px 0px 35px 19px;
    position: relative;
    left:170px;
}

.players figure figcaption{
    margin-top: 20px;
}


.players figure figcaption p {
     font-family:Georgia, 'Times New Roman', Times, serif;
     margin-top: 5px;
    color:#666666;

}

.players figure figcaption h5 {
     font-family:Georgia, 'Times New Roman', Times, serif;
    color:#666666;

}

.work img{
    display: inline-block;
    
    /* margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 7.5%; */
    margin: 70px 0px 50px 39px;
    position: relative;
    left:150px;
}

.redbox{
    background-color: #E2494C;
    border: none;
    border-radius: 7px;
    color: #E7FFFD;
    text-decoration: none;
    text-align: center;
    padding-top: 2px;
    font-weight: lighter;
    cursor: pointer;
    width: 14%;
    height: 24px;
    margin-left: 4px;
    position: relative;
    top:12px;
    left:42.7%

}




/* FOOTER */
footer{
    background-color: #E2E2E2 ;
    color: #9A9A9A;
    height: 400px;
    position: relative;
    width: 100%;
    /* padding: 0 5em; */
    /* margin: 0 50px 0 50px; */
}
.footer{
    margin: 0.5em 9em;
}
footer .footer-content{
    height: 350px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    /* border: 1px solid blue; */
}

footer .footer-content h2{
    font-size: 0.8em;
    font-weight: lighter;
    color: #000000;
    padding: 20px 0 18px 0;
}

/* footer blog */
footer .footer-content .blog{
    padding: 20px 0 0 10px;
    margin-left: 25px;
    width: 100%;
    display: block;
}
.details{
    display: inline-block;
    padding: 1em;
    margin: 0  1.5em;
}
footer .footer-content .blog img{
    border: #919191 solid 1px;
    padding: 0.2em;
    float: left;
    margin-right: 1rem;
}
footer .footer-content .blog h4{
    color: #E2494C;
    font-size: 0.75em;
    margin-top: 7px;
    padding-left: 20px;
}
footer .footer-content .blog a{
    text-decoration: none;
}

footer .footer-content .blog p{
    font-size: 0.7em;
    line-height: 1.5em;
    color: #9A9A9A;
}

/* footer details */
footer .footer-content .details{
    padding: 20px 10px;
    /* grid-column: 3; */
}
footer .footer-content .details ul{
    list-style: none;
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    line-height: 1.3em;
}
footer .footer-content .details ul li a{
    text-decoration: none;
    color: #E2494C;
}

/* footer contact form */
footer .footer-content .contact-form{
    padding: 20px 10px;
}
footer .footer-content .contact-form input[type=text], input[type=email] {
    border: none;
    width: 85%;
    border-radius: 7px;
    height:33px;
    padding-left: 0.7em;
    margin: 0.35em;
}
footer .footer-content .contact-form input[type=submit]{
    background-color: #E2494C;
    border: none;
    border-radius: 7px;
    color: #E7FFFD;
    font-size: 0.7em;
    text-decoration: none;
    cursor: pointer;
    width: 33.3%;
    height: 35px;
    margin-left: 4px;
}
footer .footer-content .contact-form input[type=submit]:hover{
    background-color: rgb(228, 116, 118);
    transition: 0.5s;
}
footer .footer-content .contact-form textarea{
    border: none;
    border-radius: 7px;
    height: 130px;
    padding: 0.7em 0 0 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.35em;
    width: 85%;
    resize: none;
}

/* footer bottom/copyright */
 footer div.footer-bottom{
    font-size: 0.7em;
    height: 40px;
    width: 100%;
    position: relative;
    top: 0px;
    bottom: 0;
    background-color: #E2E2E2;
    padding-top: 30px;
    border-top: 1px solid rgb(184, 182, 182);
    border-top-style: ridge;

}

footer p#copy{
    position: absolute;
    left: 30px;
    top: 15px;
}

footer p#template{
    position: absolute;
    right: 3em;
    top: 15px;
}



/* Media Queries */
@media only screen and (max-width: 1580px) {
    header .navigation{
        width: 100%;
        height: 100px;
    }
    header nav{
        padding: 1em 5em;
        display: flex;
        align-items: center;
        width: 100%;
    }    
}

@media only screen and (max-width: 1370px) {
    header .navigation{
        width: 100%;
        height: 100px;
    }
    header nav{
        padding: 10px 20px;
        width: 100%;
    }    

    header ul{
        position: absolute;
        top: 100px;
        left: 0px;
        width: 100%;
        height: 250px;
        z-index: 1;
        margin-left: 0px;
        border-radius:0px;
        display: none;
    }
    header ul li{
        display: block;
        padding: 10px;
    }
    header a{
        text-decoration: none;
        color:white;
        padding: 5em 0em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: small;
    }
    
    header .menu-toggle{
        display: block;
        position: absolute;
        right: 20px;
        top: 30px;
        font-size: 1.5em;
    }


    
    .footer{
        margin: 0.5em 1em;
    }
}

/* FOOTER Media Query */
@media only screen and (max-width: 960px){
    footer{
        height: 1040px;
    }
    footer .footer-content{
        height: 1000px;
        width: 100%;
        background-color: #E2E2E2;
        display: block;
    }

    footer .footer-content .blog{
        padding: 20px 0 0 20px;
    }

    footer .footer-content .contact-form{
        padding: 20px 40px;
    }

    footer div.footer-bottom{
        font-size: 0.7em;
        height: 50px;
        width: 100%;
        margin-top: 4px;
        position: relative;
        top: 0px;
        bottom: 0px;
        background-color: #E2E2E2;
        padding-top: 30px;
        border-top: 1px solid rgb(184, 182, 182);
        border-top-style: ridge;
    }


}


/* BLOG PAGE */
    /* .wrapper{
        background-image: url(../images/places/thai-landscape.jpg);
        filter: blur(8px);
        -webkit-filter: blur(8px);

        height: 100%; 
        width: 100%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    } */

    .desc{
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 50%;
        padding: 20px;
        text-align: center;
    }

    .cm-spinner {
        height: 150px;
        width: 150px;
        border: 3px solid transparent;
        border-radius: 50%;
        border-top: 4px solid #f15e41;
        -webkit-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
        position: relative;
        /* left: 50%; */
      }
      
      .cm-spinner::before,.cm-spinner::after {
        content: "";
        position: absolute;
        top: 6px;
        bottom: 6px;
        left: 6px;
        right: 6px;
        border-radius: 50%;
        border: 4px solid transparent;
      }
      
      .cm-spinner::before {
        border-top-color: #bad375;
        -webkit-animation: 3s spin linear infinite;
        animation: 3s spin linear infinite;
      }
      
      .cm-spinner::after {
        border-top-color: #26a9e0;
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
      }   
                   
      @-webkit-keyframes spin {
          from {
              -webkit-transform: rotate(0deg);
               transform: rotate(0deg);
          }
          to {
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
          }
      }   
              
      @keyframes spin {
          from {
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
          }
          to {
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
          }
      }


      .myimg{
          background-image: url(../images/places/italy.jpg);
      }

      .footer.blog-footer{
          margin-bottom: 0;
      }


