html, body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    background-color: #ffffff;
    width:1000px;
    align-content: center;
    padding: 0rem 3rem;
}

/* FOOTER */
footer{
    background-color: #E2E2E2 ;
    color: #9A9A9A;
    height: 400px;
    position: relative;
    /* margin: 0 50px 0 50px; */
}
footer .footer-content{
    height: 350px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

footer .footer-content h2{
    font-size: 0.8em;
    font-weight: lighter;
    color: #000000;
} 

/* footer blog */
footer .footer-content .blog{
    padding: 20px 0 0 10px;
    margin-left: 25px;
    width: 100%;
    display: block;
}
header nav{
    /* background-color: red ; */
    padding: 1rem 2rem;
    display: flex; 
    align-items: center; 
    width: 100%;
} 

header ul{
    background-color:#E2494B;
    padding: 1rem 1rem;
    border-radius:12px;
}
  header li {
    display: inline;
}

header a{
    text-decoration: none;
    color:white;
    padding: 0rem 2rem 0rem 0rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header a:hover{
    /* background-color: #F50057; */
    color:#ee9395;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 .navigation {
    justify-content: center;
    /* display: flex; */
    float:left;
    height: 133px;
    border-bottom: 1px solid #e2e2e2;
    /* margin-bottom: 133px; */
  }

  .header-text {
    display: grid; 
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .composition-text {
    font-style: regular; 
    color: #505050; 
    font-size: 24pt; 
    text-transform: capitalize; 
    font-variant: small-caps;
    margin-bottom: 9px;
  }
  .left-text{
    font-size:12pt; 
    color:#666666;
  }
  .centered-text-style {
    height:133px; 
    text-align: center; 
    display:inline-block; 
    line-height: 43px; 
    font-size:22pt; 
    font-family:Georgia, 'Times New Roman', Times, serif; font-style:italic;
    color: #333333;
  }
  .slider-holder
        {
            width: 960px;
            height: 426px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            text-align: center;
            overflow: hidden;
        }
       
        .image-holder
        {
            width: 4800px;
            height: 426px;
            clear: both;
            position: relative;
           
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
        }
       
        .slider-image
        {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
        }
       
        #slider-image-1:target ~ .image-holder
        {
            left: 0px;
        }
       
        #slider-image-2:target ~ .image-holder
        {
            left: -960px;
        }
       
        #slider-image-3:target ~ .image-holder
        {
            left: -1920px;
        }
        #slider-image-4:target ~ .image-holder
        {
            left: -2880px;
        }
        #slider-image-5:target ~ .image-holder
        {
            left: -3840px;
        }
       
        .button-holder
        {
            position: relative;
            bottom: 67px;
        }
       
        .slider-change
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color:grey;
        }
        
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    padding: 0rem 0rem;
  }
  
  .active, .dot:hover {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    border: 2px solid black;
    /* background-color: black; */

 /* transition: background-color 0.6s ease; */
    padding: 0rem 0rem;
  }
 
.details{
    display: inline-block;
    padding: 1em;
    margin: 0  1.5em;
}
footer .footer-content .blog img{
    border: #919191 solid 1px;
    padding: 0.2em;
    float: left;
    margin-right: 1rem;
}
footer .footer-content .blog h4{
    color: #E2494C;
    font-size: 0.75em;
    margin-top: 7px;
    padding-left: 20px;
}
footer .footer-content .blog p{
    font-size: 0.7em;
    line-height: 1.5em;
}

/* footer details */
footer .footer-content .details{
    padding: 20px 10px;
    /* grid-column: 3; */
}
footer .footer-content .details ul{
    list-style: none;
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    line-height: 1.3em;
}
footer .footer-content .details ul li a{
    text-decoration: none;
    color: #E2494C;
}

/* footer contact form */
footer .footer-content .contact-form{
    padding: 20px 10px;
}
footer .footer-content .contact-form input[type=text], input[type=email] {
    border: none;
    width: 85%;
    border-radius: 7px;
    height:33px;
    padding-left: 0.7em;
    margin: 0.35em;
}
footer .footer-content .contact-form input[type=submit]{
    background-color: #E2494C;
    border: none;
    border-radius: 7px;
    color: #E7FFFD;
    font-size: 0.7em;
    text-decoration: none;
    cursor: pointer;
    width: 33.3%;
    height: 35px;
    margin-left: 4px;
}
footer .footer-content .contact-form input[type=submit]:hover{
    background-color: rgb(228, 116, 118);

}
footer .footer-content .contact-form textarea{
    border: none;
    border-radius: 7px;
    height: 130px;
    padding: 0.7em 0 0 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.35em;
    width: 85%;
    resize: none;
}

/* footer bottom/copyright */
footer .footer-bottom{
    font-size: 0.7em;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    padding-top: 30px;
    /* margin: 50px; */
    margin-left: 25px;
}

/*Body css*/
.serveices div{
    display: inline-block;
    margin-left: 13%;
}

.players figure{
    display: inline-block;
}

.work img{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 7.5%;
}

.redbox{
    background-color: #E2494C;
    border: none;
    border-radius: 7px;
    color: #E7FFFD;
    text-decoration: none;
    text-align: center;
    padding-top: 2px;
    font-weight: lighter;
    cursor: pointer;
    width: 11%;
    height: 22px;
    margin-left: 4px;
    position: relative;
    top:34px;
    left:43%
   
}
